<div class="col-3">
    <div class="card expoCard" data-target=" #myModal" data-toggle="modal" style=" max-width: 16rem;">

        <div class="card-header cardHeader">
            <div class="row">
                <div class="col-6">
                    <p class=" tableN ">Table {{this.0.orderNumber}}</p>
                </div>
                <div class="col-6 text-right">
                    <i class="far fa-clock text-dark "></i><span id="time-{{this.0.id}}"
                        class="current-time">{{this.0.currentTime}}</span>
                </div>

            </div>


        </div>

        {{#each this}}

        <div class="card-body cardBody text-dark">
            <ul class=" ulExpo list-group-flush">
                <li class=" liExpo list-group-item">{{this.name}} <br>
                    <small class="mods">{{this.mods}}</small> </li>


            </ul>
        </div>

        {{/each}}

        <div class="card-footer cardFooter">
            <div class="row">


            </div>
        </div>

    </div>
</div>



{{!-- code to make highlight work

style="background-color: {{this.highlight}}"

 --}}