{{!-- Navbar wth greeting and clock --}}


<nav class="navbar my-2 ">

  <div class="col-6">
    <h3 class="logo">hello <br>Cibelle,</h3>
  </div>

  <div class="col-3">


  </div>
  <div class="col-3">
    <h2 class="timer"></h2>

  </div>

</nav>
{{!-- End of Navbar  --}}

{{!-- The sidebar  --}}
<div class="sidebar light-card">

  <a href="#home"><i class="fas fa-utensils"> </i> <br>
    <p class="sidebarIcon">Kitchen</p>
  </a>
  <a href="#services"><i class="fas fa-home"></i> <br>
    <p class="sidebarIcon">Main</p>
  </a>
  <a href="#services"><i class="fas fa-cog"></i> <br>
    <p class="sidebarIcon">Settings</p>
  </a>

</div>
{{!-- end of sidebar  --}}




<div class="container">


  {{!-- Modal when order it's clicked --}}
  <div class="row">
    <div class="col">
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <div class="row">
                <div class="col-6">
                  <p class=" tableN ">Table {{items.orderNumber}}</p>
                </div>
                <div class="col-6">
                  <p>Server</p>
                </div>
              </div>
              <div class="row">


                <div class="col-12">
                  <i class="fas fa-times-circle " data-dismiss="modal"></i>


                </div>


              </div>
            </div>
            <div class="modal-body">
              <ul class="list-group-flush">
                <li class="list-group-item">{{items.name}}</li>
                <small class="list-group-item small">{{items.mods}}</small>
                <small class="list-group-item small">{{items.mods}}</small>
                <li class="list-group-item">{{items.name}}</li>
                <li class="list-group-item">{{items.name}}</li>
              </ul>

            </div>
            <div class=" modal-footer">
              <div class="row">
                <div class="col-12">
                  <span><i class="text-left far fa-clock text-dark "></i>{{items.currentTime}}</span>


                  <input id="complete" class="btn btn-success" type="button" value="Complete">
                  <input id="deleteOrder" class="btn btn-danger" type="button" value="Delete">
                  <input id="recall" class="btn btn-danger" type="button" value="Recall">

                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- End of the Modal--}}



  {{!-- card --}}
  <div class="row">
    {{#each items}}
    {{> item}}
    {{/each}}

  </div>
  {{!-- 
  end of the card --}}
</div>